﻿@page "/layout/{mapId}"
@model ACInspector.Web.Server.Pages.IndexModel
@{
    bool showStatics = true;
    bool showWalls = true;
    bool showFloors = true;

    var dungeonInfos = UtilityBelt.Navigation.Data.Dungeons.GetDungeonInfos().ToList();
    UtilityBelt.Navigation.Geometry.Maps.MapLandblockGeometry geometry = null;
    string svgString = null;
    string svgUrl = null;
    string name = "Unknown";
    if (UtilityBelt.Navigation.Data.Dungeons.TryParseLandblockId(RouteData.Values["mapId"].ToString() ?? "", out uint landcellId)) {
        var cellId = landcellId & 0x0000FFFF;
        geometry = new UtilityBelt.Navigation.Geometry.Maps.MapLandblockGeometry(landcellId & 0xFFFF000, cellId == 0 ? null : cellId);

        name = dungeonInfos.FirstOrDefault(d => (d.LandblockId & 0xFFFF000) == (landcellId & 0xFFFF000))?.Name ?? $"Unknown Landblock 0x{(landcellId & 0xFFFF000):X8}";
        name = dungeonInfos.FirstOrDefault(d => d.LandblockId == landcellId)?.Name ?? name;
        svgUrl = $"/api/v1/maps/min/0x{landcellId:X8}.svg";
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>UtilityBelt AC Maps</title>
    <link rel="stylesheet" href="/assets/style.css" />
</head>

<body>
    <div class="main">
        <div id="tooltips"></div>
        @if (string.IsNullOrWhiteSpace(svgUrl)) {
            <h1 class="text-danger">Could not find dungeon!</h1>
        }
        else {
            <h1 class="overlay"><a href="/">Home</a> / View Map: @name</h1>
            <div id="preview">
                <object id="map-svg" type="image/svg+xml" data="@svgUrl" />
            </div>
            <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-selection@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-drag@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-color@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-ease@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-interpolate@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-selection@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-timer@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-hierarchy@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-transition@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-quadtree@3"></script>
            <script src="https://cdn.jsdelivr.net/npm/d3-force@3"></script>
            <script src="/assets/svgmap.js"></script>
            <script>
                
                const mapSVG = document.getElementById("map-svg")
                window.addEventListener("load", (event) => {
                    var map = new SVGMap(mapSVG.contentDocument.querySelector("svg"));
                });
                function handleResize() {
                    mapSVG.style.width = `${window.innerWidth}px`;
                    mapSVG.style.height = `${window.innerHeight}px`;
                }

                window.addEventListener("resize", handleResize);
                handleResize();
            </script>
        }
    </div>
</body>

</html>